@import "nullstyle.scss";
@import "_mixins.scss";
$maxwidth: 1200;
.wraper {
	min-height: 100%;
	overflow: hidden;
	background-image: url('../img/fon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.row {
}
.photo {
	@include adaptiv-padding(20,5);
}
.title {
}
img{
	border-radius: 50%;
	@include adaptiv-width(200,100);
	@include adaptiv-height(200,100);
	box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
	&:hover{
		box-shadow: 0 0 10px rgb(251, 255, 9), 0 0 20px rgb(255, 230, 1), 0 0 30px rgb(251, 255, 0), 0 0 40px rgb(217, 255, 0), 0 0 50px rgb(238, 255, 0);
	}
}
.box{
	display: flex;
	justify-content: space-between;
}
.conteiner{
	max-width: 1200px;
	margin: 0 auto;
}